/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 11:26:00 PM
    Author     : Rahul
*/

#portheader{
    
   
  color: black;
  font-size: 175%;
font-family: 'Yanone Kaffeesatz', sans-serif;  
    
}


#aa {
    font-size: 175%;
    color:black;
    font-family: 'Yanone Kaffeesatz', sans-serif; 
}


#listitem{
    color: black;
  font-size: 175%;
 
font-family: 'Yanone Kaffeesatz', sans-serif;    
}

#para{
    color: black;
  font-size: 175%;
 
  font-family: 'Yanone Kaffeesatz', sans-serif;
    
}
#caption {   
   
  color: black;
  font-size: 175%;
font-family: 'Yanone Kaffeesatz', sans-serif;  
}