/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 11:26:00 PM
    Author     : Rahul
*/

#portheader{
    
  text-align: center;
  color: rgb(20,46,176);
  font-size: 175%;
font-family: 'Orbitron', sans-serif;    
}







#aa {
	
    color: rgb(20,46,176);

font-family: 'Orbitron', sans-serif;
    
}

#caption {   
   
  color: rgb(20,46,176);
  font-size: 175%;
font-family: 'Orbitron', sans-serif;
}

#listitem{
  color: rgb(20,46,176);
  font-size: 175%;
 
font-family: 'Orbitron', sans-serif;
}

#para{
  color: rgb(20,46,176);
  font-size: 175%;
 
font-family: 'Orbitron', sans-serif;
}