/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 11:26:00 PM
    Author     : Rahul
*/
#vid{
    
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}
#portheader{
    
    display:block;
  text-align: center;


  background-color: black;
  
    
}

img.bannerimage{
    
    float:right;
    margin-left: 100%;
    margin-bottom:30px;
}
body{
        background-color: rgb(102,102,102);

    
}
#nav {
    display: block;
    background-color:black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 90px;
    
}

#nava {
    float: left;
    alignment-adjust: baseline;
    
}

#aa {
	display:inline-block;
    width: 60px;
    background-color:black;
    

    
}
#myIm{
    display: block;
    margin-top : 100px;
    margin-bottom: 100px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: auto;
    width: auto;    
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #888888;
}
#bannerimage{
     height: auto;
    width: auto;    
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
   
}
#pb{
      border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 44.5%;
    margin-right: 20px;
}
#pap{
   border-style: solid;
    border-color: black;
    border-width: 1px;
    
}
#nb{
   border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 20px;
    margin-right: auto;
    
}
#caption {   
    display:block;
  text-align: center;

  background-color: rgb(43,42,42);
  
}
