/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 11:26:00 PM
    Author     : Rahul
*/

#portheader{
    
   
  color: white;
  font-size: 175%;
  font-family: 'Indie Flower', cursive;
  
    
}


#aa {
    color:white;
      font-family: 'Indie Flower', cursive;   
}


#listitem{
    color: white;
  font-size: 175%;
 
  font-family: 'Indie Flower', cursive;
    
}

#para{
    color: black;
  font-size: 175%;
 
  font-family: 'Indie Flower', cursive;
    
}
#caption {   
   
  color: white;
  font-size: 175%;
  font-family: 'Indie Flower', cursive;
  
}