/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2015, 11:26:00 PM
    Author     : Rahul
*/

#portheader{
    
  text-align: center;
  color: red;
  font-size: 175%;
font-family: 'Slabo 27px', serif;  
    
}







#aa {
	
    color:red;
font-family: 'Slabo 27px', serif;
    
}

#caption {   
   
  color: red;
  font-size: 175%;
font-family: 'Slabo 27px', serif;  
}

#listitem{
    color: red;
  font-size: 175%;
 
font-family: 'Slabo 27px', serif;    
}

#para{
    color: red;
  font-size: 175%;
 
font-family: 'Slabo 27px', serif;    
}